.block-discription
	max-width 770px
	font-family ffP
	font-size 0.937rem
	margin-top 9px
	line-height 1.55
	font-weight normal
	color #3d3d3d
	letter-spacing -0.003rem
	&--margin-top
		margin-top 13px
	&--padding-left
		padding-left 3px