.about
	margin-top 34px
	.legend-text
		margin-top 14px
	
.about__text
	display block
	width 770px
	min-height 142px
	padding-left 5px
	margin-top 30px
	font-family ffC
	font-size 1.875rem
	line-height 1.6
	font-weight normal
	color color-g
	overflow hidden
	background-image url('../images/bg-textarea.png')
	background-size 100% 48px
	background-repeat repeat-y
	background-color transparent
	background-position -4px 44px
	border none
	resize none
	&:focus
		outline none