.user
	font-family ffP
	font-size 1.375rem
	font-weight bold
	color color-b
	li 
		height 45px
		display flex
		margin-top 18px
		&:first-child
			margin-top 0
		&:nth-child(2)
			margin-top 14px	
	label
		align-self flex-end
		padding-right 17px
		font-family ffP
		font-size 1.375rem
		line-height 1.1
		color color-b
		user-select none
	input
		flex-grow 1
		padding-left 15px
		font-size 1.875rem
		line-height 1.2
		font-family ffC
		font-weight normal
		color color-g
		vertical-align middle
		border none
		border-bottom 5px solid transparent
		background-color transparent
		border-image url('../images/input-bot-line.png') 5 round round
		
