.user-skill-js
	margin-top 64px
	&__slider 
		margin-top 20px
.scale
	position relative
	width 770px
	font-size 0
	vertical-align top
	background-image url('../images/scale.png')
	background-repeat no-repeat
	background-position -4px 18px
	&-item
		display inline-block
		width 100px
		margin-top 55px
		font-size .812rem
		vertical-align top
		label
			padding-top 55px
			font-family ffP
			font-weight bold
			color color-b
			user-select none		
		input
			display none
			user-select:none
	.null
		width 85px
		label
			padding-right 23px
	.jun
		width 248px
		label
			padding-left 60px
			padding-right 20px
	.mid
		width 215px
		margin-top 51px
		line-height 1.3	
		label
			padding-top 65px		
		span
			display inline-block
			width 174px	
		.wor
			height 33px	
			width 37px
	.sen
		width 222px
		margin-top 62px
		text-align right
		label
			padding-left 82px
.slider-arrow
	position absolute
	top 7px
	left 367px
	width 18px
	height 14px
	sprite $arrow_slider