.btn
	display none
	marfin-x(auto)
	padding-x(30px)
	padding-y(10px)
	margin-bottom 20px
	font-family ffP
	font-size 1.375rem
	font-weight bold
	color #000000
	background-color transparent
	border 2px solid color-b
	cursor pointer