corier = Corier New, monospace
@font-face 
	font-family 'CourierNew'
	src local('CourierNew'),
		local('CourierNew'),
		url('../fonts/cour/CourierNew.woff2') format('woff2'),
		url('../fonts/cour/CourierNew.woff') format('woff')
pt sans = PT Sans, sans-serif
	@font-face 
		font-family 'PT Sans'
		src local('PTSans'),
			local('PTSans-Regular'),
			url('../fonts/PTSans/PTSans-Regular.eot') format('eot'),
			url('../fonts/PTSans/PTSans-Regular.woff') format('woff')
		font-weight 400
		font-style normal

	@font-face 
		font-family 'PT Sans'
		src local('PTSans Bold'),
			local('PTSans-Bold'),
			url('../fonts/PTSans/PTSans-Bold.eot') format('eot'),
			url('../fonts/PTSans/PTSans-Bold.woff') format('woff')
		font-weight 700
		font-style normal