form
	padding-bottom 1px
label
	cursor pointer
.layout-position
	margin-x(110px)
	padding-left 2px
	padding-right 8px
.main-title
	width 221px
	margin-left 256px
.user-skill
		margin-top 50px
fieldset
	border none

	



