.date-of-filling
	margin-top 75px
	padding-bottom 75px
	.wrap	
		display flex
	input
		width 205px
		padding-left 10px
		font-size 1.875rem
		line-height 1.2
		font-family ffC
		font-weight normal
		color color-g
		vertical-align middle
		border none
		border-bottom 5px solid transparent
		background-color transparent
		border-image url('../images/date-line.png') 5 round round
	label
		padding-top 10px
		padding-right 20px
		align-self flex-end
		font-family ffP
		font-weight bold
		font-size 1.375rem
		line-height 1.1
		color color-b